.page {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.page h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.page p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.infoBlock button {
  margin: 0 auto;
  margin-top: 32px;
}
